<%- if @imagen.errors.any? %>

    <div class="card-panel teal lighten-2">
        Uyyy!
        Ha ocurrido un error.
    </div>
    
<% end %>


<div class="container">
    <div>
        <%= form_for @imagen, builder: CustomFormBuilder do |f| %>
            
        <%= f.label :descripcion %><br>
        <%= f.text_field :descripcion, class: 'input-field col s6' %><br>

        <%=f.field_error :descripcion%>
                  
        <%= f.label :addfoto %><br>
        <%= f.file_field :addfoto  %><br><br>

        <%= f.submit 'Guardar', class: 'waves-effect waves-light btn' %>

        <% end %>
    </div>
    
</div>
