<!DOCTYPE html>
<html>
  <head>
    <title>ProyDonaciones</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
        <div class="nav-wrapper">
             <ul id="nav-mobile" class="right hide-on-med-and-down">
                  
            <%- if usuario_signed_in? %> 
                <li>
                  <%= link_to 'Cerrar Sesion', destroy_usuario_session_path, method: :delete %>
                </li>
              
                <%else %>

                <li>
                  <%= link_to 'Iniciar Sesion', new_usuario_session_path %>
                </li>

                <li>
                  <%= link_to 'Registrarse', new_usuario_registration_path %>
                </li>

            <% end %>     


                      

                

                  
              </ul>
        </div>
    </nav>
        

    <%= yield %>
    </div>
  </body>
</html>
